:root{
    --header-sombra: 0 1px 5px 1px #8887;
    --prede: 1px solid #f00;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}   
body{
    position: relative;
}
header{
    width: 100vw;
    height: 70px;
    box-shadow: var(--header-sombra);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: #fff;
    z-index: 2000;
    
    .logo{
        height: 100%;
        width: 250px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            height: 100px;
            position: absolute;
        }
    }
    .menu{
        height: 100%;
        width: 700px;
        display: flex;
        align-items: center;
        justify-content: center;
        .submenu{
            margin: 0 20px;
            height: 60%;
            width: 80px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            cursor: pointer;
            span{
                font-size: 18px;
                color: #555;
            }
        }
        .submenu:hover{
            border-bottom: 1px solid #f00;
        }
    }
    .botones{
        height: 100%;
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        ion-icon{
            margin: 15px;
            font-size: 30px;
            cursor: pointer;
        }
        ion-icon:hover{
            filter: drop-shadow(0 0 3px #888);
        }
        .boton{
            position: relative;
            .counter{
                height: 20px;
                width: 20px;
                background-color: #f00;
                border-radius: 50%;
                position: absolute;
                top: 10px;
                left: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 18px;
                color: #fff;
            }
        }
        
    }
    .search{
        height: 100%;
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        .BoxSearch{
            display: flex;
            justify-content: center;
            height: 30px;
            border-bottom:1px solid #7776;
            ion-icon{
                font-size: 25px;
            }
            input{
                border: none;
                outline: none;
                font-size: 15px;
            }
            @media screen and (max-width: 700px) {
                input{
                    display: none;
                }
            }
        }
        .BoxSearch:hover{
            ion-icon{
                width: 0;
            }
        }
    }
    @media screen and (max-width: 700px) {
        .BotonMenu,
        .BotonCerrar{
            display: block;
        }
        
        .menu{
            opacity: 0;
            visibility: hidden;
        }
        header{
            position: relative;
        }
        .menu{
            position: absolute;
            width: 50%;
            height: 50vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            top: 70px;
            right:0;
            background-color: #aaa;
            
        }
        .menu.visible {
            opacity: 1;
            visibility: visible;
        }
        .miBoton{
            position: relative;
            width: 100%;
            .BotonCerrar{
                position: absolute;
                right: 0;
            }
        }
    }
    
}
.BotonMenu,
.BotonCerrar{
    border: none;
    height: 35px;
    width: 35px;
    cursor: pointer;
    background-color: transparent;
    display: none;
    ion-icon{
        color: #000;
        font-size: 35px;
    }
}

.container{
    width: 100%;
    overflow: hidden;
}

.slider-contenedor{
    width: 100%;
    display: flex;
    height: 750px;

}
.contenido-slider{
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;

    div{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    img{
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width:700px){

    .slider-contenedor{
        height: 500px;
    }
    .contenido-slider > div{
        width: 100%;
        height: 70%;
    }
}

.cards{
    width: 300px;
    height: 500px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ddd;
    margin: 20px 50px;

    img{
        width: 100%;
        height: 400px;
    }
    span:nth-child(2){
        color: #000;
        font-size: 25px;
    }
    span:nth-child(3){
        color: #f00;
        font-size: 25px;
    }
    button{
        border: none;
        font-size: 15px;
        height: 30px;
        width: 150px;
        border-radius: 5px;
        background: transparent;
        box-shadow: 1px 2px 4px 2px #444;
        cursor: pointer;
    }
}
.Subtitulo{
    margin: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    span{
        font-size: 35px;
    }
    hr{
        width: 40%;
    }
}
.GroupCards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}



































































